{% extends 'base.html' %}
 {% block title %}Contact{% endblock title %}
 {% block body %}
<!-- {% comment %} width*height {% endcomment %} -->
<div class="container-fluid px-0 mb-3  ">
  <img
    src="https://source.unsplash.com/1100x400/?phone,contact"
    class="d-block w-100 mx-0"
    alt="..."
  />
</div>
{% comment %} ab ho sakta hai jo apne form bnaya hai,ho sakta hai hacker aapki website kai form ko submit karne lag jaye,apni webiste,isliye ise ensure karne kail
liye ki jo form submit hore vo aapki website se hore ya nhi,aapni chaogey ye jo form aapne bnaya kisi external resource se submit ho,aap chaogey jitni bar website
visit utni bar data beja jaye,aap har bar unique token generate karete csrf ka ,is token se ye hi pata chlega ki isi webiste se ayi hai request {% endcomment %}
<div class="container mb-3 py-4">
  <h1 class="text-center">Contact Us</h1>
  {% comment %} do method hai post aur get {% endcomment %}
  <form method="post" action="/contact">
    {% comment %} ab jaise hi post karogey to ye contact urls jo bna raka uspe jayega ,vo karega kuch ni phir se contact vala page khol dega
    ,to kara kuch ni to hume vaha condition mention karni padegi ki agr post request ari to database mai save kar do  {% endcomment %}
    {% csrf_token %}
    {% comment %} agr ye token nahi metnnion karogey to csrf karke error ajayegi concept upr smjadiya alrady {% endcomment %}
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter your Name"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter Your Email"
      />
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input
        type="phone"
        class="form-control"
        id="phone"
        name="phone"
        {% comment %} name likhna bht jarrori is sey hi django pahchanega ki kya field ari hai {% endcomment %}
        placeholder="Enter Your Phone Number"
      />
    </div>

    <div class="form-group">
      <label for="desc">Tell me what you want to contact me for...</label>
      <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock body %}
